
.compressor-status{
    border: 2px solid grey;
    color: white;
    
}

.compressor-status>h4{
    border: 1px solid grey;
}

.compressor-header{
    text-align: center;
    border: 1px solid grey;
    color: white;
    background-color: #000;
    background: linear-gradient(-180deg,#00102b,#002052);
    border-radius: .3rem .3rem 0 0;
}


img{
    height: 40%;
    width: 100%;
}