
.compressor-status{
    color: white;
    
}



.compressor-header{
    text-align: center;
    color: white;
    background-color: #000;
    background: linear-gradient(-180deg,#00102b,#002052);
    border-radius: .3rem .3rem 0 0;
}


img{
    height: 30%;
    width: 100%;
}

.running-status{
    position:relative;
    top:30%;
}
