.chart-buttons{

    border-radius: 37%;
    height: 30px;
    top:1%;
    color: white;
}

.day-btn{
    background-color: white;
    color: black;
    right:20%
}

.week-btn{
    right:3%;
    background-color:#00011F;
}

.chart-label{
    background-color: #32335A;
}

.chart-container,.spline-container{
    border: 1px solid grey;
}