.engine-status{
    border: 2px solid grey;
    color: white;
    
}

.engine-status>h4{
    border: 1px solid grey;
    padding-left: 0;
}
.engine-status .engine-status-col{
    padding-left: 0;
}

.engine-header{
    text-align: center;
    border: 1px solid grey;
    color: white;
    background-color: #32335A;
}

.engine-hours-container{
    height: 42.5%;
}