.App {
  text-align: center;
  background: url('/images/background.png') no-repeat;
  background-size: cover;
  height: 100vh;
}

.scrollingNavigation {
	position: fixed;
	/* overflow: scroll; */
	height: 100vh;
}